@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #121723;
}

.background-hero {
  background: url("../../public/hero.jpg.jpg");
  background-position: center;
  background-size: cover;
  filter: grayscale(100%) blur(5px) brightness(50%);
}
